* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: hsl(244, 73%, 13%);
  color: #f0ffff;
  padding: 2rem;
  min-height: 70vh;
  padding: 3rem;
  text-align: center;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  text-align: center;
  padding-bottom: 2rem;
  text-decoration: underline;
}

@media (max-width: 700px) {
  main {
    min-height: 80vh;
    padding: 2rem;
  }

  /* Home */
  .Self-intro img {
    height: 300px;
  }

  ul li {
    list-style: none;
    font-size: medium;
  }

  .Self-intro {
    margin-top: 1rem;
    padding-right: 32px;
  }

  /* Resume */
  .p-2 {
    margin: 0;
  }

  .p-2 div {
    margin: 0;
    padding: 0;
  }

  .skills li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding-right: 32px;
  }

  .p-2 p {
    padding-left: -3.5rem;
    text-align: left;
  }
}

.logo h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

/* Project-page */
.project-section {
  align-items: center;
  justify-items: center;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

div.card {
  margin: 3rem;
  background-color: rgb(204, 212, 227);
  text-align: center;
}

p.card-text {
  padding: 0 3rem;
  text-align: left;
}

/* Home-page */
ul li {
  list-style: none;
  font-size: larger;
}

.Self-intro {
  margin-top: 3rem;
  padding-right: 32px;
}

.h-intro {
  font-size: 1.8rem;
  font-style: italic;
}

.Self-intro img {
  height: 350px;
}

/* About Me */
.p-about-me {
  text-align: left;
  padding: 6rem;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

/* Contact */
.Contact img {
  border-radius: 3rem;
  height: 450px;
}

@media (max-width: 700px) {
  .Contact img {
    width: 60vw;
    object-fit: cover;
    overflow-x: hidden;
  }
}

.p-contact {
  padding: 1.5rem;
  font-size: 1.5rem;
  padding-bottom: -2rem;
}

/* Resume */
.p-resume {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.p-r h2 {
  padding: 2rem;
  border: solid 3px rgb(145, 63, 145);
}

.p-r h5 {
  text-shadow: 1px 1px 2px #f0ffff;
}

.p-r p {
  padding: 0 1rem;
}
